<div ng-include="'components/navbar/navbar.html'"></div>
<div class="main-container" ng-class="{ faded: submitForm }">

  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>S.A.</h1>
      <h4 class="subtitle">Welcome to Startups Anonymous</h4>
      <a ui-sref="main.why" ng-click="launchForm()">Why does this exist?</a>
    </div>
  </header>

  <div class="fixed top-right-corner">
      <a ui-sref="main.submit" ng-hide="submitForm" ng-click="launchForm()">Submit your Story</a>
  </div>

  <div class="pop-over" ng-show="submitForm" ng-hide="!submitForm">
      <div class="fixed top-right-corner"><a class="cancel" ng-click="closeForm()">X</a></div>

      <div ui-view></div>
  </div>

  <div class="stories">
    <div class="row" ng-repeat="story in activeStories | orderBy:'-submitted'">
      <div class="story">
        <p>{{story.body}}</p>
        <label>{{story.submitted | date}}</label>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Just keep swimming.</p>
  </div>
</footer>
