<div ng-include="'components/navbar/navbar.html'"></div>
<div class="main-container" ng-class="{ faded: submit_form }">

  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>E.A.</h1>
      <h4 class="subtitle">Welcome to Entrepreneurs Anonymous</h4>
      <a ui-sref="main.why" ng-click="launch_form()" >Why does this exist?</a>
    </div>
  </header>

  <div class="fixed top-right-corner">
      <a ui-sref="main.submit" ng-hide="submit_form" ng-click="launch_form()" >Submit your Story</a>
  </div>

  <div class="pop-over" ng-show="submit_form" ng-hide="!submit_form">
      <div class="fixed top-right-corner"><a class="cancel" ng-click="submit_form = false">X</a></div>

      <div ui-view></div>
  </div>

  <div class="stories">
    <div class="row" ng-repeat="story in active_stories | orderBy:'-submitted'">
      <div class="story">
        <p>{{story.body}}</p>
        <label>{{story.submitted | date}}</label>
      </div>
      <!--<div class="controls">
      <!--<button ng-click="flag(story)">Flag Inappropriate</button>
      <div class="votes">
        <button type="button" class="btn btn-primary" ng-click="upvote(story)">Upvote</button>
        <label>{{story.score}}</label>
        <button type="button" class="btn btn-primary" ng-click="downvote(story)">Downvote</button>
      </div>
    </div>-->
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>EA.org |
        <a href="https://twitter.com/tyhenkel">@EA</a>
  </div>
</footer>
