.story-form {
    margin: 20px 0;
}

p.block{
        font-family: 'Vollkorn', serif;
        font-size: 28px;
        line-height: 41px;
        color: #333;
        color: $foreground-color;
    }

#banner {
    border-bottom: none;
    margin-top: -20px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: rgba(0,0,0,0.8);
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: none;
    margin-top: 10px;
}

.main-container {
   .stories {
        position: relative;
        padding: 30px 15px;
        width: 70%;
        min-width: 400px;
        max-width: 650px;
        margin: 0 auto;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        background: none;

        .row {
            margin-top: 50px;
            border-bottom: 1px #B0B0B0 solid;
        }
   }

   .meta {
        margin-top: 25px;
   }
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/**
 * Submission
 */

div.fixed {
    position: fixed;
}

.top-right-corner {
    top: 0px;
    right: 0px;
    padding: 10px;
}

div.pop-over {
    top: 0px;
    z-index: 100;
    position: fixed;
    right: 0px;
    padding: 20px;
    background: #fff;
    bottom: 0px;
    width: 550px;
    border-left: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    transition: all, 3s;
}

div.pop-over-cover {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    opacity: 0.7;
    z-index: 50;
}

form.story-form {
    textarea {
        outline: none;
        margin-top: 17px;
        padding: 0;
        height: 396px;
        border: none;
        box-shadow: none;
    }
    textarea:hover, textarea:active, textarea:focus{
        outline: none;
        border: none;
        box-shadow: none;
    }
    .controls {
        margin-top: 10px;
    }
}

p.fine-print {
    font-size: 13px;
    margin-top: 2px;
    line-height: 19px;
}

.centered {
    text-align: center;
    height: 200px;
    margin-top: 150px;
}




